/**
* Custom CSS in SASS
*/


/*
* For Page
*/

.page {}

.ng-enter {
    z-index: 8888;
}

.ng-leave {
    z-index: 9999;
}

.page.ng-enter {
    animation: fadeIn 0.5s both ease-in;
    z-index: 8888;
}

.page.ng-leave {
    animation: fadeOut 0.5s both ease-in;
    z-index: 9999;
}


/**
* For GMap
*/

#map {
    height: 450px;
    width: 100%;
}


/**
* For Form
*/

form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

form input.ng-valid.ng-touched {
    background-color: #78FA89;
}